/* Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* General section styles */
section {
  @apply py-16; /* Default padding for sections */
}

/* Styles for slick carousel navigation */
.slick-next {
  right: -50px !important;
}

.slick-prev {
  left: -50px !important;
}

/* Styles for the joinus background */
.bg-joinus {
  background-image: url("/images/joinus/horn.svg"), url("/images/joinus/paint.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 84% 100%, 12% 18%;
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Small screens (mobile devices) */
  section {
    @apply py-8; /* Reduced padding for smaller screens */
  }

  .slick-next {
    right: -30px !important; /* Adjusted position for smaller screens */
  }

  .slick-prev {
    left: -30px !important; /* Adjusted position for smaller screens */
  }

  .bg-joinus {
    background-position: 70% 100%, 5% 18%; /* Adjusted background position for smaller screens */
  }
}

/* Medium screens (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  section {
    @apply py-12; /* Medium padding for medium screens */
  }

  .slick-next {
    right: -40px !important; /* Slightly adjusted position for medium screens */
  }

  .slick-prev {
    left: -40px !important; /* Slightly adjusted position for medium screens */
  }

  .bg-joinus {
    background-position: 75% 100%, 10% 18%; /* Slightly adjusted background position for medium screens */
  }
}

/* Large screens (desktops) */
@media (min-width: 1025px) {
  section {
    @apply py-16; /* Original padding for large screens */
  }

  .slick-next {
    right: -50px !important; /* Original position for large screens */
  }

  .slick-prev {
    left: -50px !important; /* Original position for large screens */
  }

  .bg-joinus {
    background-position: 84% 100%, 12% 18%; /* Original background position for large screens */
  }
}

/* Dark mode styles */
.dark:bg-darkmode {
  /* ... existing code ... */
}

/* White background styles */
.bg-white {
  /* ... existing code ... */
}

/* Force dark text styles */
.force-dark-text {
  color: black !important;
}